<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
          xmlns:gap = "http://phonegap.com/ns/1.0"
          id = "com.phonegap.example"
          version = "1.0.1">
  
      <name>WG - eine erotische Wohnungsbesichtigung</name>
  
  
      <author href="https://github.com/12shooting/WG" email="kontakt@ero-play.com">
          ero-play.com
      </author>
      <gap:platform name="ios" />
      <gap:platform name="android" />
      <gap:platform name="winphone" />
      <preference name="orientation" value="portrait" />
      <!--preference name="fullscreen" value="true" /-->
      <preference name="permissions" value="none"/>
      <!--gap:plugin name="org.common.plugins.updateapp" /-->
      <icon src="icon.png" />
    </widget>
