<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
          xmlns:gap = "http://phonegap.com/ns/1.0"
          id = "de.vinee.de.app"
          version = "0.0.4">
  
      <name>Wein.Einfach.Finden!</name>
  
  
      <author href="www.vinee.de" email="kontakt@e-novato.de">
         www.vinee.de
      </author>
      <gap:platform name="ios" />
      <gap:platform name="android" />
      <gap:platform name="winphone" />
      <preference name="orientation" value="portrait" />
      <!--preference name="fullscreen" value="true" /-->
      <preference name="permissions" value="none"/>
      <!--gap:plugin name="org.common.plugins.updateapp" /-->
      <icon src="icon.png" />
      <gap:splash src="splash.png" />
    </widget>
